.create-post-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.form{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    padding: 35px;
    border-radius: 10px;
    background-color: #282828;
    /* border: 1px solid white; */
    gap: 35px;
}
.label-input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.label-input > label {
    font-size: 26px;
}
.label-input > input, textarea {
    font-size: 16px;
    padding: 10px;
    font-family: 'lato';
    border-radius: 5px;
    width: 600px;
}
.form > button {
    padding:15px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: lato;
    color: #fff;
    font-weight: 600;
    background-color: #3500D3;
    
}
.form > button:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.label-input > textarea {
    height: 200px;
}
.create-post-form > h1 {
    font-size: 36px;
}